[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
tienda = "streamlit run app.py"